.login-container{
    width: 55%;
    height: 80vh;
    margin:auto;
    border: 1px solid rgb(38,38,38);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 75%;
}

/* MEDIA QUERIES */


/* medium */
@media screen and (max-width:768px){
    .login-container{
        width: 200%;
        margin: auto;
    }
}
/* large */
@media screen and (max-width:992px){
    .login-container{
        width: 55%;
    }
}